ballbreaker/Library
ballbreaker/Temp
ballbreaker/Obj
ballbreaker/Assembly-CSharp-Editor.pidb
ballbreaker/Assembly-CSharp-firstpass.pidb
ballbreaker/Assembly-UnityScript-firstpass.pidb
ballbreaker/Assembly-UnityScript-firstpass.unityproj
ballbreaker/Assembly-UnityScript-firstpass-vs.unityproj
*.pidb
*.userprefs
/.project
ballbreaker/Assets/Images/png/Thumbs.db
ballbreaker/*.csproj
ballbreaker/Assembly*.sln
ballbreaker/*.apk
ballbreaker/Assets/test-results/*
