break-em-down/Library
break-em-down/Temp
break-em-down/Obj
break-em-down/Assembly-CSharp-Editor.pidb
break-em-down/Assembly-CSharp-firstpass.pidb
break-em-down/Assembly-UnityScript-firstpass.pidb
break-em-down/Assembly-UnityScript-firstpass.unityproj
break-em-down/Assembly-UnityScript-firstpass-vs.unityproj
*.pidb
*.userprefs
/.project
break-em-down/Assets/Images/png/Thumbs.db
break-em-down/*.csproj
break-em-down/Assembly*.sln
break-em-down/*.apk
break-em-down/Assets/test-results/*
break-em-down/Controllers/test-results/*
*.apk
